<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthInsuranceApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HealthInsuranceApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark text-black bg-light border-bottom box-shadow mb-3  position-sticky top-0 position-absolute">
            <div class="container-fluid">
                <img class="navbar-brand me-auto ms-5" asp-area="" asp-controller="Home" asp-action="Index">IBAZZAR</img>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse  collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var email = Context.Session.GetString("Email");
                            <li class="nav-item">
                                <span class="navbar-text">
                                    @email
                                </span>
                            </li>

                           
                        }
                     
                      
                           @*  <li class="nav-item">
                                <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                            </li> *@
                            <li class="nav-item me-auto ms-5">
                                <a class="nav-link text-black " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Auth" asp-action="SignOut">Logout</a>
                        </li>
                       
                     
                        <li class="nav-item">
                            <a class="nav-link btn btn-success btn-sm  px-4 py-1 mt-1 ms-auto fw-bold text-white" asp-area="" asp-controller="Auth" asp-action="Login">Sign In</a>
                        </li>
                    
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2024 - HealthInsuranceApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
